.main-div{
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
    align-items: center;
}
.form-box{
    height: 100%;
    width: 100%;
    padding: 0 100px;
}
.xhx{
    height: 2px;
    max-height: 2px;
    min-height: 2px;
    width: 100%;
    background-color: #7f8c9a;
    margin: 20px 0;
}
.form-item{
    display: flex;
    padding-bottom: 30px;
    align-items: center;
    justify-content: space-between;
}
.form-item h4{
    padding-right: 15px;
    margin:0;
    white-space: nowrap;
}
.form-item select,.form-item input,.form-item > div{width: 400px;text-align: left;}
.form-item button{}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */
{
    opacity: 0
}

